@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}
/*shared style*/
.headfont{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.parafont{
    font-size: 18px;
    font-weight: 500;
    color:424242;
}


/* ends*/
*{
    margin: 0px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
    /* overflow: hidden; same work as padding do*/
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1452px;
    margin:0 auto;
    align-items: center;
}
nav .menu ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap:40px;
}
