@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}
/*shared style*/
.headfont{
    /* font-size:  2.8rem; */
    font-weight: bold;
    color: #131313;
}
.parafont{
    font-size:1.1rem;
    font-weight: 500;
    /* color:424242; */
}
.regular{
    font-size: 1 rem;
    color: #727272;

}
.semibold{
    font-size: 1.3rem;
    font-weight: 600;
}
.btn{
    background-color: #FF900E;
    color: white;
    border:none;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
}

/* ends*/
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
    /* overflow: hidden; same work as padding do*/
    padding-top: 50px;
    margin: 0 auto;
}
nav,.banner{
    max-width: 1140px;
     margin:0 auto;
}
.logo h2{
    font-size: 2.8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
   color:#424242;
}
nav .menu ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap:40px;
}
.banner-content{
    max-width: 862px;
    display: flex;
    flex-direction: column;
   text-align: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 6.4rem;
}
.banner p{
    color:#000000;
}
.ban-img img{
     width: 100%;
}
.banner h1{
    font-size: 4.1rem;
    padding-bottom: 20px;
}
.ban-btn{
    margin-top:2rem;
    margin-bottom: 3.1rem;
}
.feat{
    display:flex;
    gap:73px;
    padding-top: 130px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.feat-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    max-width: 708px;
}
.feat-img img{
    width: 100%;
}
.feat-content>*{
    margin-bottom: 30px;
}
.feat-content{
    max-width: 537px;
}
/*small device*/

@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        gap:20px;
        flex-wrap: wrap;
    }

}