#header{
    height: 300px;
    background-image: url("/image/mountain.webp");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color: aqua;
    
}
#header p{
    display: inline;
    color: white;
    font-size: large;
}

#header2 {
    text-align: center;
}
#trycalm{
    color:white;
    background-color:aqua;
}
#header4 img{
    height: 300px;
     width: 800px;
}
